test
.worktrees/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# don't upload to CF assets
.git/
.claude/
node_modules/
scripts/
worker/
docs/
*.md
*.toml
*.jsonc
*.asc
*.png
*.svg
*.ttf
